<div id="marketing">
<h2>Offizielle Partner</h3>
<div class="partner">
	<p>
	<a href="http://www.droemer-knaur.de"><img src="/images/partner_droemer.gif"></a>
	<a href="http://www.arsedition.de"><img src="/images/partner_ars_edition.gif"></a>
	<a href="http://www.diesterweg.de"><img src="/images/partner_diesterweg.gif"></a>
	<a href="http://www.westermann.de"><img src="/images/partner_westermann.gif"></a>
	<a href="http://www.finken.de"><img src="/images/partner_finken.gif"></a>
	<a href="http://www.metz-verlag.de"><img src="/images/partner_metz.gif"></a>
	<a href="http://www.familienkongress.de/index.php?id=230"><img src="/images/partner_jako-o.gif"></a>
	<a href="http://www.wehrfritz.de"><img src="/images/partner_wehrfritz.gif"></a>
	</p>
</div>

<h2>Sponsored Links</h2>
<div class="partner">
	<p>
	<script type="text/javascript"><!--
	  amazon_ad_tag = "jankuhl-21";  amazon_ad_width = "120";  amazon_ad_height = "600";  amazon_color_border = "090909";  amazon_color_logo = "000000";  amazon_ad_categories = "aebcp";//--></script>
	<script type="text/javascript" src="http://www.assoc-amazon.de/s/ads.js"></script>				  	  
	</p>
</div>

{% comment %}
	<h2>Buchempfehlungen</h3>
	{% asin_search 3629020577 %} {% endasin_search %} 
	{% asin_search 3540276726 %} {% endasin_search %} 
{% endcomment %}

</div>
