<img src="/images/jankuhl.png" align=left height=120>
<p>Jan Kuhl ist Geschenk-, Schul- und Kinderbuchautor. Im Rahmen der Leseförderung an Grundschulen führt er regelmäßig gemeinsam mit SchülerInnen Kinderbuchprojekte durch.
Er ist Träger des Marburger Literaturpreises Regio 2005.</p>