<div id="search" class="search">
	<form action="/search" id="sform" method="get" name="sform">
	  <p>
	    <input type="text" id="q" name="q" tag="Warten" value="Stichworte eingeben und bestätigen" />
	  </p>
	</form>
</div>
