<div id="primary" class="single-post">

	{% comment %}
		{% include 'marketing' %}
    {% endcomment %}

	<div class="inside">
		<h1>{{ search_count }} gefundene Inhalte zu Suche "{{ search_string }}"</h1>
	</div>

	{% include 'section' %}
</div>
<!-- [END] #primary -->